
body {
    background-image: url(../Images/logo.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    font-family: Verdana, sans serif;
    font-size: 0.8em;
}

#frmIdentification {
    width: 350px;
    margin: 0 auto;
}
label {
    display: inline-block;
    width: 100px;
}
.erreur {
    background-color: rgb(237, 210, 229);
    color: rgb(203, 28, 128);
    width: 100%;
    text-align: center;
}
